<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/icons/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/home/home.css">
    <link href="/css/header.css" rel="stylesheet">
</head>

<body>

<header id="myHeader" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="http://localhost:8800/anime/home"
               class="navbar-brand align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Anime Booba</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="http://localhost:8800/anime/home" class="nav-link px-2 text-white ">Главная</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Форум</a></li>
            </ul>

            <div class="text-end">
                <a href="http://localhost:8800/auth/login" class="btn btn-outline-light me-2">Войти</a>
                <a href="http://localhost:8800/auth/register" class="btn btn-warning">Зарегистрироваться</a>
                <a id="profile" class="text-decoration-none text-white"
                   href="http://localhost:8800/user/profile">Профиль</a>
                <a id="singOut" class="text-decoration-none text-white"
                   href="http://localhost:8800/user/signout">Выйти из аккаунта</a>
            </div>
        </div>
    </div>
</header>

    <main>
        <form class="add_anime" method="post" action="http://localhost:8800/anime/addAnimePOST">
            <h4>Добавьте аниме: </h4>
            <div class="name_field">
                <label class="sign-in-form__label">Название</label>
                <input id="name" class="edit" type="text" placeholder="Введите название" name="Name">
            </div>
            <div class="author_field">
                <label class="sign-in-form__label">Автор</label>
                <input id="author" class="edit" type="text" placeholder="Введите ФИО автора" name="Author">
            </div>
            <div class="description_field">
                <label class="sign-in-form__label">Описание</label>
                <input id="description" class="edit" type="text" placeholder="Введите описание" name="Description">
            </div>
            <div class="enter_btn_container">
                <button class="enter_btn" type="submit">Добавить</button>
            </div>
        </form>

        <p>Anime list: </p>
        <ul id='animes'>
            {{ for anime in animes }}
            <li>
                <p>Информация об Аниме: </p>
                <p>ID: {{anime.id | object.default "Не задано"}}</p>
                <p>Название: {{anime.name | object.default "Не задано"}}</p>
                <p>Описание: {{anime.description | object.default "Не задано"}}</p>
                <p>Url картинки: {{anime.image_url | object.default "Не задано"}}</p>
            </li>
            {{ end }}
        </ul>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>