<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="icon" href="/icons/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/home/home.css">
    <link href="/data/header/header.css" rel="stylesheet">
    <script src="/data/header/header.js"></script>
</head>

<body>

<header id="myHeader" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="http://localhost:8800/anime/home"
               class="navbar-brand align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Anime Booba</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="http://localhost:8800/anime/home" class="nav-link px-2 text-white ">Главная</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Форум</a></li>
            </ul>

            <div class="text-end">
                <div id="signin_block">
                    <a href="http://localhost:8800/auth/login" class="btn btn-outline-light me-2">Войти</a>
                    <a href="http://localhost:8800/auth/register" class="btn btn-warning">Зарегистрироваться</a>
                </div>
                <div id="profile_block">
                    <a id="profile" class="text-decoration-none text-white"
                       href="http://localhost:8800/user/profile">Профиль</a>
                </div>
                
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    showHide();
</script>

<main>
    <div class="container-xl">

        <button type="button" class="btn btn-outline-dark mt-2 " data-bs-toggle="modal" data-bs-target="#add_anime">
            Добавить аниме
        </button>
        <div class="modal fade" id="add_anime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Введите данные</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="add_anime" method="post" action="http://localhost:8800/anime/addPostPOST">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="PostName">
                                <label for="floatingInput">Название записи</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="Name">
                                <label for="floatingInput">Название</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="Genre">
                                <label for="floatingInput">Жанр</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="Studio">
                                <label for="floatingInput">Студия</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInput" name="AgeRating">
                                <label for="floatingInput">Возрастной рейтинг</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="Description">
                                <label for="floatingInput">Описание</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="ImageUrl">
                                <label for="floatingInput">Ссылка на картинку</label>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button form="add_anime" class="btn btn-primary"
                                type="submit">Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark mt-3 rounded row-cols-4">
            <div id="user" class="col-4 ">
                <div class="user text-white mt-2">
                    <img class="rounded-circle"
                         src="https://sun9-29.userapi.com/impg/Tzxg7xNuKSlfTiVaZHYufgBnKvOOa6yzTfxb_w/TsCTylATbZE.jpg?size=720x660&quality=96&sign=306635bf42b54934d19d618d0d2388a0&type=album"
                         width="50px" height="50px">
                    <p class="fs-5 d-inline ms-1 ">временно</p>
                </div>
            </div>
            <div class="col-8 text-end text-white mt-2">
                <a class="text text-decoration-none text-white" href="#">Добавить в любимое</a>
            </div>
            <div class="col-3">
                <img class="w-100 mt-2 mb-2 rounded"
                     src="https://static.insales-cdn.com/images/products/1/3612/512323100/1.jpg">
            </div>
            <div class="col-9 text-white align-items-c">
                <div class="info">
                    <p class="fw-bold fs-2 text">Человек Бензопила</p>

                    <div class="info_block">
                        <div class="fw-bold d-inline fs-6">Жанр:</div>
                        <div class="text d-inline ">Экшен, приключения, сёнэн</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Студия:</div>
                        <div class="text d-inline">MAPPA</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Возрастной рейтинг:</div>
                        <div class="text d-inline">18+</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Описание:</div>
                        <div class="text d-inline">«Человек-бензопила» (яп. チェンソーマン Тиэнсо:ман, Chainsaw Man) —
                            манга, написанная и проиллюстрированная Тацуки Фудзимото. Первая часть публиковалась в
                            журнале Shueisha Weekly Shōnen Jump с 3 декабря 2018 по 14 декабря 2020 года[7] , а
                            вторая часть публикуется в онлайн-журнале Shonen Jump+ издательства Shueisha с 13 июля
                            2022 года. Её главы были собраны в двенадцать танкобонов на октябрь 2022. Премьера
                            адаптации в формате аниме-телесериала, снятого студией MAPPA, состоялась 11 октября 2022
                            года.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{ for post in posts }}
        <div class="row bg-dark mt-3 rounded row-cols-4">
            <div id="user" class="col-4 ">
                <div class="user text-white mt-2">
                    <img id="avatar" class="rounded-circle"
                         src="{{post.user.avatar_url | object.default "/images/default_avatar.jpg"}}" width="50px" height="50px" >
                    <p class="fs-5 d-inline ms-1 ">{{post.user.username | object.default "Не задано"}}</p>
                    <p class="fs-5 d-inline ms-1 ">{{post.name | object.default "Не задано"}}</p>
                </div>
            </div>
            <div class="col-8 text-end text-white mt-2">
                <a class="text text-decoration-none text-white" href="#">Добавить в любимое</a>
            </div>
            <div class="col-3">
                <img class="w-100 mt-2 mb-2 rounded"
                     src="{{post.anime.image_url | object.default "/images/default_avatar.jpg"}}">
            </div>
            <div class="col-9 text-white align-items-c">
                <div class="info">
                    <p class="fw-bold fs-2 text">{{post.anime.name}}</p>

                    <div class="info_block">
                        <div class="fw-bold d-inline fs-6">Жанр:</div>
                        <div class="text d-inline ">{{post.anime.genre}}</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Студия:</div>
                        <div class="text d-inline">{{post.anime.studio}}</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Возрастной рейтинг:</div>
                        <div class="text d-inline">{{post.anime.age_rating}}</div>
                    </div>
                    <div class="info_block">
                        <div class="fw-bold fs-6 d-inline">Описание:</div>
                        <div class="text d-inline">{{post.anime.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

    </div>


    <!-- <img src="https://sun9-29.userapi.com/impg/Tzxg7xNuKSlfTiVaZHYufgBnKvOOa6yzTfxb_w/TsCTylATbZE.jpg?size=720x660&quality=96&sign=306635bf42b54934d19d618d0d2388a0&type=album" alt="kit">
    <form class="add_anime" method="post" action="http://localhost:8800/anime/addAnimePOST">
        <h4>Добавьте аниме: </h4>
        <div class="name_field">
            <label class="sign-in-form__label">Название</label>
            <input id="name" class="edit" type="text" placeholder="Введите название" name="Name">
        </div>
        <div class="author_field">
            <label class="sign-in-form__label">Автор</label>
            <input id="author" class="edit" type="text" placeholder="Введите ФИО автора" name="Author">
        </div>
        <div class="description_field">
            <label class="sign-in-form__label">Описание</label>
            <input id="description" class="edit" type="text" placeholder="Введите описание" name="Description">
        </div>
        <div class="enter_btn_container">
            <button class="enter_btn" type="submit">Добавить</button>
        </div>
    </form>

    <p>Anime list: </p>
    <ul id='animes'>
        {{ for anime in animes }}
        <li>
            <p>Информация об Аниме: </p>
            <p>ID: {{anime.id | object.default "Не задано"}}</p>
            <p>Название: {{anime.name | object.default "Не задано"}}</p>
            <p>Описание: {{anime.description | object.default "Не задано"}}</p>
            <p>Url картинки: {{anime.image_url | object.default "Не задано"}}</p>
        </li>
        {{ end }}
    </ul> -->

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>